In [2]:
import numpy as np 
import pandas as pd

In [5]:
flats = pd.read_csv('cleaned_data/flats_cleaned.csv')
houses = pd.read_csv('cleaned_data/house_cleaned.csv')

print("Datasets loaded.")

Datasets loaded.

In [6]:
df = pd.concat([flats, houses], ignore_index=True)

In [7]:
df = df.sample(df.shape[0], ignore_index=True)

In [8]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,7 Bedroom House for sale in Ashok Vihar Phase ...,house,ashok vihar phase iii extension,0.40,8889.0,450.0,Plot area 50(41.81 sq.m.),7,4,3+,pooja room,"House No.183, Street Number 7, Ashok Vihar Pha...",4.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","It's a newly built house which has 4 floors, 1...","['3 Fan', '15 Light', '1 Wardrobe', 'No AC', '...",['Water Storage'],"['Environment3 out of 5', 'Lifestyle4 out of 5..."
1,3 BHK Flat in Sector 56 Gurgaon,flat,professors enclave cghs,1.54,8324.0,1850.0,Super Built up area 2000(185.81 sq.m.)Built Up...,3,3,2,"pooja room,servant room","Sector 56, Sector 56 Gurgaon, Gurgaon, Haryana",6.0,South,10+ Year Old,"['Sector metro station', 'Sector metro station...",This 3 bhk apartment is available for sale in ...,"['5 Fan', '1 Exhaust Fan', '3 Geyser', '12 Lig...","['Feng Shui / Vaastu Compliant', 'Lift(s)', 'H...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
2,3 BHK Flat in Sector 68 Gurgaon,flat,m3m ikonic,1.78,9128.0,1950.0,Super Built up area 1950(181.16 sq.m.)Built Up...,3,3,3+,not available,"T-5, Sector 68 Gurgaon, Gurgaon, Haryana",27.0,South,1 to 5 Year Old,"['Airia Mall', 'Sohna Road', 'Vidyamrat Public...","M3m ikonic in sector 68, gurgaon is a ready-To...","['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
3,3 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,2.24,14460.0,1549.0,Super Built up area 1549(143.91 sq.m.),3,3,2,others,"Smartworld Orchard Sector 61, Golf Course Ext....",3.0,NaN,Within 6 months,"['Sector 55-56 Metro station', 'Bestech Centra...",Residential apartment for sell.Located in sect...,[],NaN,NaN
4,3 BHK Flat in Sector 82A Gurgaon,flat,dlf the primus,1.87,10394.0,1799.0,Super Built up area 1799(167.13 sq.m.)Carpet a...,3,3,3,pooja room,"198, Sector 82A Gurgaon, Gurgaon, Haryana",31.0,East,5 to 10 Year Old,"['Sapphire 83', 'NH 48', 'Cambridge Montessori...",This 3 bhk apartment is available for sale in ...,NaN,"['Power Back-up', 'Intercom Facility', 'Lift(s...","['Green Area5 out of 5', 'Construction4.5 out ..."